/* src/components/Preloader.css */
body, html {
    background: url('../assets/vidbg.mp4');
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  background-color: #101623;
     /* Adjust background color if needed */
    z-index: 9999;
  }
  